In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("NutritionalFacts_Fruit_Vegetables_Seafood.csv")
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xca in position 34: invalid continuation byte

In [5]:
df=pd.read_csv("COLLEGE_UNIVERSITY.csv")

In [6]:
df

,the_geom,NAME,HOUSENUM,STREETNAME,CITY,ZIP,URL,BIN,BBL
0,POINT (-73.99465215457163 40.73519616365903),New School University / Parsons School Of Design,66,FIFTH AVENUE,New York,10011,http://www.parsons.edu/html/splash.html,1009619,1.005760e+09
1,POINT (-73.99706966379965 40.73546280987431),New School University / The New School,66,WEST 12 STREET,New York,10011,http://www.newschool.edu/,1083136,1.005750e+09
2,POINT (-74.00681944352681 40.723441859057495),Metropolitan College,75,VARICK STREET,New York,10013,http://www.metropolitan.edu/,1002934,1.002260e+09
3,POINT (-73.79439300079635 40.73944287003665),School Of Nursing Of St. Vincents Catholic Med...,175-05,HORACE HARDING EXPRESSWAY,Fresh Meadows,11365,http://www.svcmc.org/portal/training/allied_he...,4148794,4.068890e+09
4,POINT (-73.84872054010768 40.721371886956774),Bramson Ort College,69-30,AUSTIN STREET,Forest Hills,11375,http://www.bramsonort.org/,4077468,4.032348e+09
...,...,...,...,...,...,...,...,...,...
72,POINT (-73.96028717108886 40.81029418631306),"Teachers College, Columbia University",525,WEST 120 STREET,New York,10027,http://www.tc.columbia.edu/,1083643,1.019750e+09
73,POINT (-73.99649861360797 40.736553887838184),New School University / Jazz And Contemporary ...,55,WEST 13 STREET,New York,10011,http://www.newschool.edu/jazz/,1009722,1.005770e+09
74,POINT (-73.9666683641188 40.80557808768119),Bank Street College Of Education / Graduate Sc...,610,WEST 112 STREET,New York,10025,http://www.bankstreet.edu/,1057331,1.018940e+09
75,POINT (-73.99747679976271 40.73526236196918),New School University / Eugene Lang College,65,WEST 11 STREET,New York,10011,http://www.lang.edu/,1009567,1.005750e+09
76,POINT (-73.95026316293709 40.81940116680288),The City College of New York,160,CONVENT AVENUE,New York,10031,http://www1.ccny.cuny.edu/,1084081,1.019570e+09

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    77 non-null     object
 1   NAME        77 non-null     object
 2   HOUSENUM    76 non-null     object
 3   STREETNAME  77 non-null     object
 4   CITY        77 non-null     object
 5   ZIP         77 non-null     int64
 6   URL         77 non-null     object
 7   BIN         77 non-null     int64
 8   BBL         74 non-null     float64
dtypes: float64(1), int64(2), object(6)
memory usage: 5.5+ KB

In [8]:
df.shape

(77, 9)

In [9]:
df=pd.read_csv("GTAV_Steam_Reviews.csv")

In [10]:
df

,id,language,review,created,voted_up,votes_up,comment_count,steam_purchase,recieved_for_free,written_during_early_access,author_num_games_owned,author_num_reviews,author_playtime_forever,author_playtime_last_two_weeks,author_playtime_at_review,author_last_played
0,157337410,english,"Games good, But Rockstar Your a BILLION DOLLAR...",2024-02-01 16:00:22,True,0,0,True,False,False,0,9,9105,131,9105,2024-01-30 21:04:02
1,157337371,english,modders make it better and free everything,2024-02-01 15:59:57,True,0,0,True,True,False,0,1,2530,1728,2530,2024-02-01 16:01:41
2,157337210,english,great game,2024-02-01 15:57:48,True,0,0,False,False,False,0,1,281457,4523,281457,2024-02-01 00:48:38
3,157336468,english,best,2024-02-01 15:47:51,True,0,0,True,False,False,34,3,2842,431,2816,2024-02-01 15:50:12
4,157335380,english,sed,2024-02-01 15:32:26,True,0,0,True,False,False,11,2,2055,79,2021,2024-02-01 16:12:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52094,140767442,english,great game,2023-06-27 04:16:29,True,0,0,True,False,False,0,2,1711,0,1592,2023-06-27 06:15:48
52095,140766922,english,This game destroys lives and breaks families. ...,2023-06-27 04:01:43,False,0,0,True,False,False,0,2,994,0,699,2023-07-04 02:51:55
52096,140766772,english,this is such a fun you need to try it out the ...,2023-06-27 03:57:22,True,0,0,True,False,False,0,1,50761,0,38332,2024-01-13 16:38:30
52097,140766435,english,gg,2023-06-27 03:48:20,True,0,0,True,False,False,0,9,2575,0,1212,2023-07-15 21:46:04
52098,140766317,english,De los mejores juegos del mundo... Mas que nad...,2023-06-27 03:44:44,True,0,0,True,False,False,15,2,2858,351,2492,2024-02-01 07:17:01